@tailwind base;
@tailwind components;
@tailwind utilities;

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* vertical */
  height: 12px; /* horizontal */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: gray;
}

/* Thumb (scrollbar handle) */
::-webkit-scrollbar-thumb {
  background-color: #2f1893; /* Your custom color */
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b0d5f;
}
html {
  color-scheme: dark;
  background-color: #121212;
  color: #ffffff;
}
